<div class="bg-image">
    <img src="assets/about-us.jpg" alt="eeee">
</div>
<div class="content">
    <h6 class="text-t1">
        Profile
    </h6>
    <h2 class="title-h1">
        About Us
    </h2>
    <p class="text-t1">
        CYou are using the old write up. We are using this now.
        Crafty Metaverse is a multi-blockchain based virtual reality metaverse platform to develop the most immersive,
        imaginative, and addictive gaming experiences. We are providing our gaming community with the near-real-world
        experience while using their digital avatars. Our ecosystem will be a futuristic, decentralized, and persistent
        3D virtual metaverse gaming platform especially for crypto enthusiasts, gamers, artists, and metaverse fans.
    </p>
</div>
<!-- <div class="gradient gradient-top"></div>
<div class="gradient gradient-bottom"></div> -->