@import '/src/styles/mixins.scss';

:host {
    display: block;
    min-height: 150vh;
    position: relative;

    .bg-image {
        @include position(absolute, 0, 0, 0, 0);
        z-index: -1;

        >img {
            @include position(absolute, -25%, 0, 0, 0);
            width: 100%;
        }
    }

    >.container {
        display: flex;
        flex-direction: column;

        >app-pr-title-w-list {
            width: 50%;
            padding-top: var(--spacing8);

            &:nth-of-type(even) {
                align-self: flex-end;
            }
        }
    }

}