html {
    --divider-color: #7F5CFF;
    --button-color: linear-gradient(98.73deg, #7A42F4 0%, #4642F4 100%), #FFFFFF;
    --brand-color-1: #06D6DF;
    --brand-color-2: #7B71EE;
    --brand-color-3: #F00AFE;

    --baseline: 25px;
    --subline: 5px;
    --gutter: 40px;
    --column1: 70px;
    --column2: 180px;
    --column3: 290px;
    --column4: 400px;
    --column5: 510px;
    --column6: 620px;
    --column7: 730px;
    --column8: 840px;
    --column9: 950px;
    --column10: 1060px;
    --column11: 1170px;
    --column12: 1280px;

    //spacings
    --spacing1: 10px;
    --spacing2: 20px;
    --spacing3: 30px;
    --spacing4: 40px;
    --spacing5: 60px;
    --spacing6: 90px;
    --spacing7: 120px;
    --spacing8: 150px;
    --spacing9: 180px;
    --spacing10: 210px;
}