<div class="content">
    <h6 class="text-t1">Crafty Metaverse</h6>
    <h1 class="title-h1">A SHARED, IMMERSIVE MULTI-BLOCKCHAIN BASED <span>
            <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23 0L26.2527 19.7473L46 23L26.2527 26.2527L23 46L19.7473 26.2527L0 23L19.7473 19.7473L23 0Z"
                    fill="white" />
            </svg>
        </span> METAVERSE ECOSYSTEM</h1>
        <app-pr-button [btnText]="'Invest Now'"></app-pr-button>
</div>
<div class="bg-image">
    <img src="assets/first-screen-bg.png" alt="eeee">
</div>