@import '/src/styles/mixins.scss';

:host {
    display: flex;
    flex-direction: column;

    >* {
        cursor: pointer;
    }

    &:hover {
        >.illustration>.image>.abstraction {
            transform: scale(1.1);
        }
    }

    >.illustration {
        display: flex;
        justify-content: center;

        >.image {
            position: relative;
            overflow: hidden;

            >.abstraction {
                transform: scale(1);
                @include position(absolute, 10%, 0, 0, 12px);
                @include transition(transform, 1s, ease-in);
            }
        }

    }

    >.line {
        display: block;
        width: 100%;
        height: var(--subline);
        background-color: var(--card-color);
        margin: var(--spacing6) 0 var(--spacing4);
        box-shadow: var(--shadow-1);
        border-radius: 40px;
    }

    >.content {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: var(--spacing1);

        >* {
            text-align: center;
        }

        >h3 {
            max-width: 80%;
        }
    }

    @keyframes abstraction-scale {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.1);
        }
    }
}