<div class="title-pair">
  <h5 class="text-t1">What we do</h5>
  <h2 class="title-h1">Our resources</h2>
</div>
<div class="container">
  <div class="text">
    <img src="assets/logo.svg" alt="">
    <h2 class="title-h3">About toKen $Cmeta</h2>
    <p class="text-t1">
      CMETA, a BSC-based cryptocurrency token will be the sole governance token on the platform. This means that every single transaction in the Crafty Metaverse space will be conducted with the $CMETA token
    </p>
    <app-pr-button [btnText]="'Play (Coming Soon)'"></app-pr-button>
  </div>
  <div class="illustration">
    <div class="image-wrapper">
        <img src="assets/resources/gradient-logo.png" alt="gradient-logo" />
    </div>
  </div>
</div>
