@import '/src/styles/mixins.scss';

:host {
    display: block;

    * {
        cursor: pointer;
    }

    button {
        padding: 16px 24px;
        background: var(--button-color);
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1);
        @include transition (transform);
    }

    &:hover>button {
        transform: scale(1.1);
    }
}